<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="log.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <form class="bookmark-form" method="POST" action="">
        <div class="jumbotron">
            <img src="img/background.png" alt="background">
            <div class="login-box">
                <h1>
                    Login
                </h1>
                <div class="text-box">
                    <input type="text" class="input user_name" required="Required field"> <br>
                    <label for="username">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Username
                    </label>
                </div>
                <div class="text-box">
                    <input type="password" class="input password" required="Required field"><br>
                    <label for="password"> 
                        <i class="fa fa-key" aria-hidden="true"></i>
                        Password
                    </label>
                </div>
                <a href="">
                    <button class="btn" type="submit" id="sign_in_btn">
                        Sign in
                    </button>
                </a>
            </div>    
        </div>
    </form>
    <!-- <script>
        const get_in = document.getElementById('sign_in_btn');
        // const users = JSON.parse(localStorage.getItem('users')) || [];
        const bookmarkForm  = document.querySelector('.bookmark-form');
        // const bookmarkInput = bookmarkForm.querySelector('input[type=text]');
        // ,'input[type=text]'
        const bookmarks     = [];
        user_name = bookmarkForm.querySelector('.user_name');
        password = bookmarkForm.querySelector('.password');
        // JSON.parse(localStorage.getItem('bookmarks')) || 
        function create_bookmark() {
            // e.preventDefault();
            user_name = user_name.value;
            password = password.value;
            // const title = bookmarkInput;
            // console.log(title);
            const bookmark = {
                user_name: user_name,
                password: password
                // title: title
            };
            bookmarks.push(bookmark);
            console.log(bookmarks);

            bookmarkForm.reset();
        }
        create_bookmark();
        // function user_login() {
        //     alert("The user name is " + user_name + "\nThe password is " + password);
        //     localStorage.setItem('users', JSON.stringify(users));
        // }
        // user_login();
        // get_in.addEventListener('click', user_login);
    </script> -->
</body>
</html>